// primary colors

$primary: hsl(293, 59%, 54%);
$black: hsl(224, 23%, 19%);
$dark: hsl(224, 23%, 39%);

// neutral colors

$neutral: hsl(293, 49%, 55%);
$white: hsl(0, 0%, 100%);
$light: hsl(210, 20%, 98%);
