.singlePrj {
   @include grid(end);
   min-height: 50vh;
   overflow: hidden;

   &:not(:first-child) {
      margin-top: 2em;
   }

   &:hover {
      .prj-content {
         transform: translateY(0);
      }

      .prj-details {
         p {
            transform: translate(0, 0);
         }
      }
   }

   .prj-content {
      @include grid(end);
      padding: 1.5em 2em 2em;
      transform: translateY(72%);
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(30px);
      transition: $transition;
   }

   .prj-details {
      h2 {
         text-transform: uppercase;
      }
      p {
         color: $black;
         transform: translate(40px, 20px);
         transition: $transition;
          transition-delay: .2s;
      }
   }

   .btns {
      .btn {
         margin-right: 2em;
      }
      .btn.btn-secondary {
         background-color: rgb(68, 83, 226);
         &:hover {
            background-color: $black;
            box-shadow: 0.5em 0.5em 1rem -0.3em rgba(rgb(68, 83, 226), 0.5);
         }
      }
   }
}
